*{   
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }
  .sale {
    justify-content: center; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;   
    }
    .procent {
    position: absolute;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    background-color: #339933;
    color: #FFFFFF;
    margin: 20px 0px 0px 240px;
    font-weight: 700;
    }
    .sale-item img {
    border-radius: 15px;
    border: 1px solid #DDDDDD;
    }
    .item-price {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px 0px 0px 40px;
    width: 280px;
    }
    .item-price h3 {
    width: 230px;
    margin-bottom: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .item-price h4 {
    font-size: 40px;
    font-weight: 700;
    }
    .item-price h5 {
    padding: 20px 0px 0px 10px;
    font-size: 20px;
    text-decoration: line-through;
    color: #8B8B8B;
    }