*{   
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';}
    main {
      color: #333; 
    }
    main img {
    margin: 50px 30% 20px;
    }
    .error-text h1 {
    font-size: 80px;
    font-weight: 1000;
    line-height: 70.4px;
    text-align: center;
    margin: 30px 0px 30px 20px;
    }
    .error-text h4 {
    width: 450px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    margin: 10px 35% 20px;
    color: #8B8B8B;
    }
    .error-button {
    padding: 20px;
    border-radius: 5px;
    background-color: #339933;
    color: #FFFFFF;
    margin: 10px 45% 20px;
    font-weight: 700;
    text-align: center;
    }